/*@import url(https://fonts.googleapis.com/css?family=Lora:700italic);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
html, body {
    	height: 100%;
    }

.alert>p {
  font-family: 'Bitter', serif;
  font-size: 15px;
}

#wrap {
  min-height: 100%;
  position: relative;
  padding: 0 0 60px 0;
  margin-bottom: -40px;
}

label span {
    font-weight: normal;
}

#footer {
  background: #fff;
  padding: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 12px;
  font-family: arial;
}
body {
  padding-bottom: 30px;
}
.navbar-nav li {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}
.inbox th {
  background: #f5f5f5;
  white-space: nowrap;
}
.inbox td {
  color: #494949;
}
.inbox a:link, .inbox a:visited {
  color: #428bca;
  text-decoration: none;
}
h1 {
  font-size: 24px;
  line-height: 1em;
  margin: 0 0 20px 0;
}
.form-group {
  margin-bottom: 25px;
}

.form-group label {
  margin-bottom: 0;
}

.comment {
	font-size: 13px;	
}
.demo-img {
	display:inline-block;
}

#custom_view_preview {	
	text-align:center;
}

.page-title {
	font-size: 20px;
    color:#555;
    padding: 6px;
    margin: 10px 0px;
    text-align:center;
    width: 100%;
    border: 1px solid #e7e7e7;
    background: #e7e7e7;
    border-radius: 8px;
}


.custombutton{
    color: #fff !important;
    background-color: #555 !important;
    border-color: #e7e7e7 !important;
}

.form-actions {
  background: #f5f5f5;
  padding: 20px;
}
.button_style {
  clear: left;
  padding-bottom: 20px;
  overflow: auto;
}
.button_style .radio {
  width: 25px;
  float: left;
}
.button_style .example {
  width: 450px;
  float: left;
}
.go-back {
  background: no-repeat url(../images/icons.png) 0 -110px;
  width: 120px;
  padding-left: 22px;    
  background-position-x: -1px;
  background-position-y: -112px;
  float: right;
}
a.go-back-a {
    text-decoration: none;
    font-size: 16px;
}

.showCodeWrapper {
    position: relative;
}
.copyMe {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    border-radius: 0px 0px 0px 3px;
    padding: 5px;
}

#shopify-show .form-control[readonly], #seoshop-success .form-control[readonly], #ecwid-show .form-control[readonly], #ecwid-callback .form-control[readonly] {
    cursor: text;
}

textarea.short-code {
  background-color: #555 !important;
  opacity: 1;
  color: #fff;
  width: 100%;  
  display: block;
}

.action-class:after {
  display: none !important;
}

.info-head {
  background-color: rgba(0, 120, 189, 0.64);
  font-size: 24px;
  padding: 5px;
  color: #fff;
}
.custom-form-design {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.alert.alert-info a {
    text-decoration: none;
}
 /*=========Custom css===========================*/

.std ol {
      padding: 0;
  }
input.noIndColor {
    width: 60%;
    float: left;
}
.evo-colorind,
.evo-colorind-ie,
.evo-colorind-ff {
    border: solid 1px #c3c3c3;
    width: 32px;
    height: 34px;
    margin-left:3px;
    border-radius:4px;
    float: left;
}
.evo-cp-wrap {
    display: flex;
}
/*------------HELP----------*/
.development-center {
  margin-bottom: 10px;
  display: block;
}

ul.benefits {
  padding-left: 20px !important;
}

.set-padding {
  padding-left: 40px;
  display: block;
}

.custom-fonts {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.collapse {
    display: block !important;
}

#imagemodal .modal-dialog {
    width: 60%;
}



#imagemodal button.close {
    padding: 0;
    cursor: pointer;
    background-color: #fff;
    padding: 0 10px;
	opacity: 0.8;
}

.evo-pop {
    left: 65%;
}

.form-group.shotcode label {
    margin-bottom: 10px;
}

#imagemodal .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}